body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  margin-top: 20px;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, p {
  margin: 0px;
}

h1 {
  font-size: 22px;
  margin-top: 22px;
}

h2 {
  font-size:18px;
}

p {
  font-size: 16px;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  max-width: 528px;
  background-color: gray;
  padding-bottom: 18px;
}

.introducao {
  grid-column: 1 / -1;
}

.introducao::before {
  content: "";
  width: 250px;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(233, 61, 109, 1) 0%,
    rgba(105, 91, 163, 1) 100%
  );
  position: absolute;
  top: 560px;
}

.materia1 {


}

.materia1::before {
  content: "";
  width: 155px;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(118, 199, 207, 1) 0%,
    rgba(103, 95, 166, 1) 100%
  );
  position: absolute;
  bottom: -215px;
}
