* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 1200px;
  justify-content: center;
}

img {
  max-width: 100%;
}

h1 {
  font-size:22px;
}

p {
  font-size: 16px;
}

.cabecalho {
  padding: 20px;
  margin: 0 auto;
  background-color: aqua;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  background-color: aqua;
}

.introducao {
  grid-column: 1 / -1;
  justify-content: center;
}

.materia1 {
  
}
